* {
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

a {
    color: #34495e;
    text-decoration: none;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #855fc1;
    background-color:rgba(41, 37, 37, 0.914);
    overflow: hidden;
    position: sticky; 
    top: 0; 
    width: 100%;
    box-shadow: 0px 0px 14px 0px rgb(139, 106, 155);
    border-radius: 5px;
}

.nav {
    margin-top: 5px;
     }

.nav a {
	padding: 10px 15px;
	text-transform: uppercase;
    font-weight: bold;
	text-align:left;
	display: block;
	color: #c9afe2;
	font-size: .999em;
}

.nav a:hover {
	background-color: #372a52;
	color: #f8f7f8;
}