a {
  color: #c9afe2;
}

input {
  background-color: aliceblue;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.element {
	position: relative;
	text-align: center;
  color: #a869e4;
}

#box {
	position: absolute;
	width: 250px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	background-color: rgba(41, 37, 37, 0.914);
  border-radius: 5px;
}