input {
  background-color: aliceblue;
}

body::backdrop {
  color: #efefef;
}

body a {
  color: #c9afe2;
}

ul > li {
  list-style-type: none;
}

.element + .element {
  color: #a869e4 !important;
}

.top ~ .element {
  color: #953ce9;
}

.element {
  position: relative;
  text-align: center;
}

#box {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  position: absolute;
  width: 250px;
  height: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(41, 37, 37, 0.914);
  border-radius: 5px;
}

.header {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #855fc1;
  background-color: rgba(41, 37, 37, 0.914);
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 14px 0px rgb(139, 106, 155);
  border-radius: 5px;
}
