.header {
	background-color: gray;
	height: 10vh;
	border-radius: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.element {
	position: relative;
	text-align: center;
}

#box {
	position: absolute;
	width: 250px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	background-color: gray;
}